<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuk.springboot.sys.mapper.AreaMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuk.springboot.sys.entity.Area">
        <id column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="parent_ids" property="parentIds" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="code" property="code" />
        <result column="type" property="type" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <resultMap id="areaVOMap" type="com.liuk.springboot.sys.vo.AreaVO" extends="BaseResultMap">
        <result column="parent_name" property="parentName" />
        <association column="id" property="hasChildren" select="hasChildren" />
    </resultMap>

    <select id="hasChildren" parameterType="string" resultType="boolean">
        select case when exists(select 1 from sys_area where parent_id = #{id}) then 1 else 0 end from dual
    </select>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        a.id,
        a.parent_id,
        a.parent_ids,
        a.name,
        a.sort,
        a.code,
        a.type,
        a.create_by,
        a.create_date,
        a.update_by,
        a.update_date,
        a.remarks,
        a.del_flag
    </sql>

    <select id="getAllAreaTree" resultType="com.liuk.springboot.common.JsTree">
        select id 'key',name title,parent_Id parentId from sys_area
        where del_flag = '0'
    </select>

    <select id="getAreaVoById" resultMap="areaVOMap">
        select

        <include refid="Base_Column_List"/> ,
        b.name parent_name
        from sys_area a
        left join sys_area b
        on a.parent_id = b.id
        where a.id = #{id}
    </select>

    <select id="getAreaVOList" resultMap="areaVOMap">
        select
        <include refid="Base_Column_List"/>
        from sys_area a
        where a.parent_id = #{parentId}
    </select>
</mapper>
