<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuk.springboot.mapper.DictValueMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.liuk.springboot.entity.DictValue">
        <id column="id" property="id" />
        <result column="dict_type_id" property="dictTypeId" />
        <result column="label" property="label" />
        <result column="value" property="value" />
        <result column="sort" property="sort" />
        <result column="create_by" property="createBy" />
        <result column="create_date" property="createDate" />
        <result column="update_by" property="updateBy" />
        <result column="update_date" property="updateDate" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, dict_type_id, label, value, sort, create_by, create_date, update_by, update_date, del_flag
    </sql>


    <select id="getListByDictType" resultMap="BaseResultMap">
        select sdv.label,sdv.value
        from sys_dict_value sdv ,sys_dict_type sdt
        where sdv.dict_type_id = sdt.id
        and sdt.type = #{type}
        order by sdv.sort
    </select>

    <select id="getDictLabel" resultType="string">
        select sdv.label
        from sys_dict_value sdv ,sys_dict_type sdt
        where sdv.dict_type_id = sdt.id
        and sdt.type = #{type}
        and sdv.value = #{value}
    </select>
</mapper>
