<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>office Form</title>
</head>
<body>
    <div class="modal-header">
        <button type="button" class="close" onclick="closeAreaForm()" aria-hidden="true">
            &times;
        </button>
        <h4 class="modal-title" >

        </h4>

    </div>
    <div class="modal-body admin-form">
        <form class="" id="areaForm">
            <input type="hidden" name="id" th:value="${area.id}" id="id">
            <table class="table table-bordered">
                <tbody>
                <tr >
                    <td class="col-md-2" ><span style="color: red">*</span>上级区域:</td>
                    <td class="col-md-4">
                        <div class="smart-widget sm-right smr-50" >
                            <label class="field">
                                <input type="text" readonly id="parentName" th:value="${area.parentName}" class="gui-input" style="background: #EEE" >
                            </label>
                            <input type="hidden" id="parentId" name="parentId" th:value="${area.parentId}">
                            <button type="button" id="searchAreaBtn" class="button btn-default"> <i class="fa fa-search"></i></button>
                            <button type="button" id="areaDelButton" class="close" data-dismiss="" style="position: absolute; top: 11px; right: 60px; z-index: 999; display: block;">X</button>
                        </div>

                    </td>

                    <td class="col-md-2" ><span style="color: red">*</span>区域名称:</td>
                    <td class="col-md-4">
                        <label class="field">
                            <input type="text" name="name" th:value="${area.name}" id="name" class="gui-input" >
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>区域编码:</td>
                    <td class="col-md-4">
                        <label class="field">
                            <input type="text" name="code" id="code" th:value="${area.code}" class="gui-input" >
                        </label>
                    </td>
                    <td class="col-md-2" >区域类型:</td>
                    <td class="col-md-4">
                        <label class="field select">
                            <select id="type" name="type">
                                <option></option>
                                <option th:each="dict :${#dictUtils.getDictList('sys_area_type')}" th:text="${dict.label}" th:value="${dict.value}" th:selected="${area!=null}?${area.type == dict.value}"></option>
                            </select>
                            <i class="arrow"></i>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>备注:</td>
                    <td class="col-md-4">
                        <label class="field">
                            <textarea class="form-control" name="remarks" th:text="${area.remarks}" rows="2"></textarea>
                        </label>
                    </td>
                    <td class="col-md-2" ></td>
                    <td class="col-md-4">

                    </td>
                </tr>
                </tbody>
            </table>
        </form>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="closeAreaForm()">关闭
        </button>
        <button type="button" id="saveBtn" class="btn btn-primary" onclick="saveOffice()">
            保存
        </button>
    </div>

    <script>

        var $treeTable;
        function closeAreaForm() {
            $("#myModal").modal("hide");
        }

        function saveOffice() {

            var formData = $("#areaForm").serialize();
            $.ajax({
                url : "/sys/area/save",
                method : "POST",
                data : formData,
                success : function (data) {
                    if(data.code == 200){
                        /*var current_id = data.data.id;
                        var target = $treeTable.get(current_id);
                        var old_parent_id = target.attr("pid") == undefined?'0':target.attr("pid");
                        var current_parent_id = data.data.parentId;
                        var current_parent_ids = data.data.parentIds;

                        if(old_parent_id == current_parent_id){
                            if(current_parent_id == '0'){
                                $treeTable.refreshPoint(-1);
                            }else{
                                $treeTable.refreshPoint(current_parent_id);
                            }
                        }else{
                            $treeTable.del(current_id);//刷新删除旧节点
                            // $treeTable.initParents(current_parent_ids, "0");
                        }*/
                        $treeTable.refresh();
                        closeAreaForm();
                    }

                },
                error : function () {
                    alert("出错啦");
                }
            });
        }

        $("#searchAreaBtn,#parentName").click(function () {
            console.log(tree.reload());
            // tree.reload();
            $("#treeModal").modal("show");
        });


        $("#areaTree").fancytree({
            extensions: ["filter"],
            quicksearch: true,
            source:{
                url: "/sys/area/treeData"
            },

            filter: {
                mode: "hide",
                autoApply: true
            },
            activate: function(event, data) {
                //alert("activate " + data.node);
            },
            lazyLoad:function (event, data) {
                console.log(data);
            }

        });
        var tree = $("#areaTree").fancytree("getTree");

        /*
         * Event handlers for our little demo interface
         */
        $("input[name=search]").keyup(function(e) {
            var n,
                leavesOnly = $("#leavesOnly").is(":checked"),
                match = $(this).val();

            if (e && e.which === $.ui.keyCode.ESCAPE || $.trim(match) === "") {
                $("button#btnResetSearch").click();
                return;
            }
            if ($("#regex").is(":checked")) {
                // Pass function to perform match
                n = tree.filterNodes(function(node) {
                    return new RegExp(match, "i").test(node.title);
                }, leavesOnly);
            } else {
                // Pass a string to perform case insensitive matching
                n = tree.filterNodes(match, leavesOnly);
            }
            $("button#btnResetSearch").attr("disabled", false);
            $("span#matches").text("(" + n + " 匹配项)");
        });

        $("button#btnResetSearch").click(function(e) {
            $("input[name=search]").val("");
            $("span#matches").text("");
            tree.clearFilter();
        }).attr("disabled", true);

        tree.options.filter.mode = $("input#hideMode").is(":checked") ? "hide" : "dimm";
        tree.clearFilter();

        $("input#hideMode").change(function(e) {
            tree.options.filter.mode = $(this).is(":checked") ? "hide" : "dimm";
            tree.clearFilter();
            $("input[name=search]").keyup();
        });
        $("input#leavesOnly").change(function(e) {
            // tree.options.filter.leavesOnly = $(this).is(":checked");
            tree.clearFilter();
            $("input[name=search]").keyup();
        });
        $("input#regex").change(function(e) {
            tree.clearFilter();
            $("input[name=search]").keyup();
        });

        function selectArea() {
            if(tree.activeNode){
                $("#parentName").val(tree.activeNode.title);
                $("#parentId").val(tree.activeNode.key);

            }
            $('#treeModal').modal('hide');
        }
        $("#areaDelButton").click(function () {
            $("#parentName").val("");
            $("#parentId").val("");
        })
</script>
</body>

</html>