<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user Form</title>
</head>
<body>

<div class="admin-form">
    <form id="userForm">
        <input type="hidden" name="id" th:value="${user.id}">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="col-md-2">头像:</td>
                <td class="col-md-4">

                </td>

                <td class="col-md-2"><span style="color: red">*</span>归属公司:</td>
                <td class="col-md-4">
                    <div class="smart-widget sm-right smr-50">
                        <label class="field">
                            <input type="text" id="companyName" th:value="${user.company == null?'':user.company.name}"  readonly style="background: #EEE" class="gui-input">
                        </label>
                        <input type="hidden" name="companyId" th:value="${user.company == null?'':user.company.id}" id="companyId">
                        <button type="submit" id="companySearchBtn" class="button btn-default"><i class="fa fa-search"></i>
                        </button>
                        <button type="button" id="companyDelButton" class="close" data-dismiss=""
                                style="position: absolute; top: 11px; right: 60px; z-index: 999; display: block;">X
                        </button>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-md-2"><span style="color: red">*</span>归属部门:</td>
                <td class="col-md-4">
                    <div class="smart-widget sm-right smr-50">
                        <label class="field">
                            <input type="text" id="officeName" th:value="${user.office == null?'' : user.office.name}" readonly style="background: #EEE" class="gui-input">
                        </label>
                        <input type="hidden" name="officeId" id="officeId" th:value="${user.office == null?'' : user.office.id}">
                        <button type="submit" id="officeSearchBtn" class="button btn-default"><i class="fa fa-search"></i>
                        </button>
                        <button type="button" id="officeDelButton" class="close" data-dismiss=""
                                style="position: absolute; top: 11px; right: 60px; z-index: 999; display: block;">X
                        </button>
                    </div>
                </td>

                <td><span style="color: red">*</span>工号:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="text" name="no" th:value="${user.no}"  class="gui-input">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-md-2"><span style="color: red">*</span>姓名:</td>
                <td class="col-md-4">
                    <label class="field select">
                        <label class="field">
                            <input type="text" name="name" th:value="${user.name}" class="gui-input">
                        </label>
                    </label>
                </td>

                <td><span style="color: red">*</span>登录名:</td>
                <td class="col-md-4">
                    <label class="field select">
                        <label class="field">
                            <input type="text" name="loginName" th:value="${user.loginName}" class="gui-input">
                        </label>
                    </label>
                </td>
            </tr>
            <tr>
                <td><span style="color: red">*</span>密码:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="password" id="password" name="password" class="gui-input">
                    </label>
                </td>

                <td><span style="color: red">*</span>确认密码:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="password" id="confirmPassword" class="gui-input">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">是否可用:</td>
                <td class="col-md-4">

                    <label class="field select">
                        <select name="loginFlag">
                            <option th:each="dict :${#dictUtils.getDictList('yes_no')}" th:text="${dict.label}"
                                    th:value="${dict.value}" th:selected="${#strings.equals(dict.value,user.loginFlag)}"></option>
                        </select>
                        <i class="arrow"></i>
                    </label>
                </td>

                <td>邮箱:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="text" name="email" th:value="${user.email}" class="gui-input email">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">电话:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="text" name="phone" th:value="${user.phone}" class="gui-input">
                    </label>
                </td>

                <td>手机:</td>
                <td class="col-md-4">
                    <label class="field">
                        <input type="text" name="mobile" th:value="${user.mobile}" class="gui-input">
                    </label>
                </td>
            </tr>
            <tr>
                <td class="col-md-2">用户角色:</td>
                <td class="col-md-4">
                    <span th:each="role:${roles}"><input type="checkbox" th:value="${role.id}" th:checked="${user.roleIds == null?false:#lists.contains(user.roleIds,role.id)}" name="roleIds">[[${role.name}]]</span>
                </td>

                <td>备注:</td>
                <td class="col-md-4">
                    <label class="field">
                        <textarea class="form-control" name="remarks" th:text="${user.remarks}" rows="2"></textarea>
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script>

    jQuery(document).ready(function() {
        $("#userForm").validate({
            rules : {
                companyId : {
                    required : true
                },
                officeId : {
                    required : true
                },
                no : {
                    required : true
                },
                name : {
                    required : true
                },
                loginName : {
                    required : true
                },
                password : {
                    required : true,
                    minlength: 6,
                    maxlength: 16
                },
                confirmPassword : {
                    required : true,
                    minlength: 6,
                    maxlength: 16,
                    equalTo: '#password'
                },
                email : {
                    email : true
                },
                phone : {
                },
                mobile : {
                },
                roleIds : {
                    required : true
                },
                remarks : {
                }
            },
            messages : {
                companyId : {
                    required : '请选择公司'
                },
                officeId : {
                    required : '请选择机构'
                },
                no : {
                    required : '工号必填'
                },
                name : {
                    required : '姓名必填'
                },
                loginName : {
                    required : '登录名必填'
                },
                password : {
                    required : '请输入密码'
                },
                confirmPassword : {
                    required : '请确认密码',
                    equalTo: '#密码不一致，请确认'
                },
                email : {
                    email : '请输入正确格式邮箱'
                },
                phone : {
                },
                mobile : {
                },
                roleIds : {
                    required : '请选择至少一个角色'
                },
                remarks : {
                }
            },
            submitHandler:function(form){
                md.alert("提交事件!");
                // form.submit();
                return false;
            }
        });
    });

    function submitForm() {
        let formData = $("#userForm").serialize();
        console.log(formData);
        $.ajax({
            url: "/sys/user/save",
            method: "POST",
            data: formData,
            success: function (result) {
                if (result.code == 200) {
                    $('#userTables').DataTable().ajax.reload();
                }
            },
            error: function () {
                bootbox.alert("出错了!");
            }
        });
    }

    $("#companySearchBtn,#companyName").click(function () {
        md.openDialog('选择公司','/sys/treeSelect?url=/sys/office/treeData&inputName=companyName&inputId=companyId','confirmSelect','small');
    });

    $("#officeSearchBtn,#officeName").click(function () {
        md.openDialog('选择机构','/sys/treeSelect?url=/sys/office/treeData&inputName=officeName&inputId=officeId','confirmSelect','small');
    });

    $("#companyDelButton").click(function () {
        $("#companyName").val("");
        $("#companyId").val("");
    });

    $("#officeDelButton").click(function () {
        $("#officeName").val("");
        $("#officeId").val("");
    });
</script>
</body>
</html>